html, body, #viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#header-row{
  background-color: #00008B;
  background-size: auto; 
  display: flex; 
  background-image: url("https://www.txdot.gov/etc/designs/txdot/images/header_bg.jpg");
  height: 75px;
  width: 100%;  
}

#row{
  background-image: url("https://www.txdot.gov/etc/designs/txdot/_jcr_content/global/header/logo.img.png/1496950554064.png"); 
  overflow: hidden;
  display: flex;   
  padding: 0px;
  height: 100px; 
  background-repeat: no-repeat;  
  background-size: auto; 
     
}

#print{
    border-radius: 0 !important;
  	height: 30px;
  	width: 33px;
  	position: absolute;
  	top: 135px;
  	right: 15px;
  	z-index: 50;
  	padding: 5px 6px 5px 6px; 
    border: 1px solid transparent;
    background-color: white;    
    box-shadow: 0.5px 0.5px 8px #888888;      
}

#print:hover{
  background-color: #F5F5F5;  
  border-radius: 0 !important;  
}

#print:hover .esri-icon-printer {
   color: black !important;
}

.esri-icon-printer{
  color: #808080;
 }

#extent{
    border-radius: 0 !important; 
    height: 30px;
    width: 33px;
    position: absolute;
    top: 155px;
    left: 15px;
    z-index: 50;
    padding: 5px 6px 5px 6px; 
    border: 1px solid transparent;    
    background-image: url("https://maps.dot.state.tx.us/Images/TexasIcon.png") !important;
    background-size: 24px 24px;   
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #808080;  dark grey*/    
    background-color: #05407b;
    box-shadow: 0.5px 0.5px 8px #888888; 
}

#extent:hover{  
  /*background-color: #C0C0C0;  light grey*/
  background-color: #375c82;
  border-radius: 0 !important;
}

#expandDiv{
  position: absolute;
  top: 112px;
  left: 0px;
}

#loader{
  position: fixed;
  top: 50%;
  left: 50%;
}



