 @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
  }


  #mapViewDiv {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;  
}


  /*allows home and zoom buttons to be pushed up*/
  .esri-ui{
    top: 0px !important;
  }

.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: #000000;
}

.navbar-global .navbar-user > li > a
{
  color: #000000;
}

.navbar-primary {
  /*background-color: #f2f2f2;*/
  background-color: rgb(240, 240, 240);
  bottom: 0px;
  left: 0px;
  position: absolute;
  /*top: 51px;*/
  height: 100%;
  width: 250px;
  z-index: 8;
  overflow: hidden;
  box-shadow: 5px 5px 5px grey;
  /*border: solid 2px #143c5c;*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 20px;
}

.navbar-primary.collapsed .nav-label {
  display: none;  
}

.navbar-primary.collapsed .sub-label{
  display: none;
}

.navbar-primary.collapsed .links-label {
  display: none;  
}

.navbar-primary.collapsed #search{
  display: none;  
}

.navbar-primary.collapsed #searchIcon{
  display: inline-block;
}

.navbar-primary.collapsed .print-label {
  display: none;  
}

#searchIcon{
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 19px;
    /*bottom:0;*/
    width: 8%;
    padding: 8px 0;
    /*border-top:solid 1px #666;*/
    color: white;
    font-size: 20px;
    /*text-align: center;*/
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    /*background-color: #222;*/
    color: #d9d9d9;
    text-decoration: none;
}


.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none; 
  overflow: hidden;
  white-space: nowrap;      
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #d9d9d9;
  color: black;
  font-size: 16px;  
  text-decoration: none;
  border-left:solid 5px rgba(240, 240, 240);

}

.navbar-primary-menu li a:hover {
  /*background-color: #d9d9d9;*/
  text-decoration: none;
  color: black;
  border-left:solid 5px #143c5c;
}


.navbar-primary-menu li a .glyphicon,
.navbar-primary-menu li a .esri-icon {
  margin-right: 6px;
  font-size: 20px;
}

.navbar-primary-menu li a:hover .esri-icon-down {
  color: #000000;
}

.esri-icon-search {
  margin-right: 6px;
  font-size: 20px;
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #d9d9d9;
  color: #000000; 
  text-decoration: none;
}

#search :hover{   
  text-decoration: none;  
}

#search { 
  display: inline-block;
  text-decoration: none; 
  width: 100%; 
  height: 41px;
  padding-top: 4px;
  border-bottom:solid 1px #d9d9d9;
  padding-left: 4px;
  padding-right: 4px;
}

.esri-search{
  width: 100% !important;  
  display: inline-block !important;
}

.esri-icon-search{
  display: inline-block !important;
  margin-right: 0px !important;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;  

}

  #headerTitle{
    color: white;
    padding-left: 57px;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 10px;
    background-color: #143c5c;  
    overflow: hidden;

  }

  .glyphicon:hover{
    cursor: pointer !important;
  }

  #header{
    padding-top: 10px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #143c5c;  
  }

  .nav-label{
    padding-left: 15px;
  }

  .sub-label{
    padding-left: 58px;

  }

  #projectTrackerDiv,
  #driveTexasDiv,
  #spmDiv{
    height: 32px;
    background-color: rgb(225, 225, 225);
    color: #000000;
    line-height:32px;
    font-size: 13px;
  }

  #projectTrackerDiv:hover,
  #driveTexasDiv:hover,
  #spmDiv:hover{      
    cursor: pointer;
    color:red;
  }

  .links-label{
    padding-left: 48px;
  }

  .links.dropdowns{
    font-size: 10px;
  }

  .esri-icon.esri-icon-down
  {
    position: absolute;
    color: #000000;
    right: 4px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }

   #overlaysDown.glyphicon.glyphicon-menu-down,
   #overlaysDown.glyphicon.glyphicon-menu-up
  {    
    color: #000000;
    left: 95px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 15px;
  }

  #basemapDown.glyphicon.glyphicon-menu-down,
  #basemapDown.glyphicon.glyphicon-menu-up
  {  
    color: #000000;
    left: 80px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 15px;
  }

  #printDown.glyphicon.glyphicon-menu-down,
  #printDown.glyphicon.glyphicon-menu-up
  {   
    color: #000000;
    left: 130px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 15px;
  } 

  #linksDown.glyphicon.glyphicon-menu-down,
  #linksDown.glyphicon.glyphicon-menu-up
  {    
    color: #000000;
    left: 75px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 15px;
  }

  .navbar-primary.collapsed #overlaysDown,
  .navbar-primary.collapsed #basemapDown,
  .navbar-primary.collapsed #printDown,
  .navbar-primary.collapsed #linksDown{
    display: none;
  }

  #printSingleDiv{
    height: 32px;
    background-color: rgb(225, 225, 225);    
    text-decoration: none; 
    line-height:32px; 
    font-size: 13px;
    padding-left: 63px;
    color: #000000;
  }

   #printCountyDiv{
    height: 32px;
    background-color: rgb(225, 225, 225);    
    text-decoration: none;      
    font-size: 13px;     
  }

  #printSingleDiv:hover{    
    /*background-color: white;*/
    cursor: pointer;
    color: red !important;
    text-decoration: none;
  }

  #printCountyDiv:hover{
    cursor: pointer;
    /*background-color: white;*/
    color:#000000;    
  }

/*  .print-label{
      padding-left: 48px;     
  }*/

  #printCountyDiv a:hover{
    text-decoration: none;  
  }

  #printSingleDiv a:hover{
    text-decoration: none;  
    color: red;  
  }

  .esri-icon.esri-icon-browser{
    font-size: 20px;
    margin-right: 6px;   
  }

  .esri-icon.esri-icon-collection{
    font-size: 20px;
    margin-right: 6px;    
  }

  #printSingleDiv a,
  #printCountyDiv a{
    color: #000000;
  }

  .esri-widget{
    font-family: 'Poppins', sans-serif !important;
  }

  .esri-legend__layer-body{
    color: black !important;         
  }

  .esri-legend__service {   
    padding-left: 12px !important;
    padding: 0px !important;  
  }

  .esri-legend{
    white-space: normal;
  }

  .esri-legend__message{
    font-size: 0px !important;
    padding-left: 20px !important;     
  }

  .esri-legend__message::before {
    content: "Turn on feature to view legend" !important;
    font-size: 11px !important;    
    color: red !important;
  }

    .esri-legend__layer-caption{
      display: none !important;
    }

    .evacRouteContainer{
      width: 100%; 
      padding-top: 10px;     
    }

    .checkboxEvacRoute{
      display: inline-flex;     
      width: 141px;
      height: 22px;
      font-size: 13px;
      color: black;
      padding-left: 8px;
    }

    .funcClassContainer{
      width: 100%;      
    }

    .checkboxFuncClass{
      display: inline-flex;
      /*padding-top: 10px;*/
      width: 181px;
      height: 22px;
      font-size: 13px;
      color: black;
      padding-left: 8px;
    }

    .funcClassLengendBtn,
    .lowWaterLengendBtn,
    .evacRouteLegendBtn{
      display: inline;
      position: absolute;
      color: #000000;
      right: 2px;
    }

    .lowWaterContainer{
      width: 100%; 
      padding-bottom: 10px;     
    }

    .checkboxLowWater{
      display: inline-flex;      
      width: 157px;
      height: 22px;
      font-size: 13px;
      color: black;
      padding-left: 8px;
    }

    #layerListDiv{
      background-color: rgb(225, 225, 225);
    }

    #lwBtn.glyphicon.glyphicon-menu-down,
    #fcBtn.glyphicon.glyphicon-menu-down,
    #erBtn.glyphicon.glyphicon-menu-down{
      background-color: transparent !important;
      width: 30px !important;
      /*height: 20px !important;*/
      border-style: none !important;
      color: black;
      font-size: 15px;
      padding-left: 12px;
    }


     #lwBtn.glyphicon.glyphicon-menu-up,
     #erBtn.glyphicon.glyphicon-menu-up,
     #fcBtn.glyphicon.glyphicon-menu-up{
      background-color: transparent !important;
      width: 30px !important;
      /*height: 20px !important;*/
      border-style: none !important;
      color: black;
      font-size: 15px;
      padding-left: 12px;
    }


    #lwBtn.glyphicon.glyphicon-menu-down:hover,
    #erBtn.glyphicon.glyphicon-menu-down:hover,
    #fcBtn.glyphicon.glyphicon-menu-down:hover{
      color: grey;
    }

    #lwBtn.glyphicon.glyphicon-menu-up:hover,
    #erBtn.glyphicon.glyphicon-menu-up:hover,
    #fcBtn.glyphicon.glyphicon-menu-up:hover{
      color: grey;
    }

    #lwBtn.glyphicon.glyphicon-menu-down:focus,
    #erBtn.glyphicon.glyphicon-menu-down:focus,
    #fcBtn.glyphicon.glyphicon-menu-down:focus{
      outline: none;
    }

    #lwBtn.glyphicon.glyphicon-menu-up:focus,
    #erBtn.glyphicon.glyphicon-menu-up:focus,
    #fcBtn.glyphicon.glyphicon-menu-up:focus{
      outline: none;
    }

  #legendEvacRouteDiv{
    padding-right: 2px;
    padding-left: 2px;    
    background-color: rgb(225, 225, 225); 
  }

  #legendFuncClassDiv{
    background-color: rgb(225, 225, 225);    
  }

  #legendLowWaterDiv{
    background-color: rgb(225, 225, 225);
  }

 label{
    font-weight: normal !important;
  }

  .fa-toggle-off{
    color: gray;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-toggle-on{
    color: green;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-square{
    color: red;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-check-square{
    color: green;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-eye{
    color: green;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-eye-slash{
    color: red;
    cursor: pointer;
    font-size: 20px;
  }

  .middle,
  .funMiddle, .evacMiddle {
    text-align: center;
    margin: 0 auto;
    /*padding: 2rem;*/
  }


  .active,
  .activeFun,
  .activeEvac {
    color: green;
  } 


  #offFun,
  #offLow,
  #offEvac{
    color: grey;
  }

 
   #lowLabel,
   #funLabel,
   #evacLabel{
    padding-left: 19px;
   }

   .navbar-primary::-webkit-scrollbar {
      width: 0.4em;
  }
   
  .navbar-primary::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   
  .navbar-primary::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  #basemapDiv{
    width: 100%;  
    background-color: rgb(225, 225, 225);
  }

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }

  /* The Close Button */
  .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  #about:hover{
    cursor: pointer;
  }

  .navbar-primary-menu li a:focus {
    outline: none;
  }

  #txdotDiv,#esriLightGray,#googleDiv,
  #streetsDiv, #osm{
    height: 32px;
    line-height: 32px;
    color: #000000;
    border-left: 5px solid rgb(225, 225, 225);
    font-size: 13px;
  }


  #txdotDiv:hover,#esriLightGray:hover,#googleDiv:hover,
  #streetsDiv:hover, #osm:hover{  
    cursor: pointer;
    color: red;  
  }

  #county
  {
    width: 155px; 
    font-size: 12px;
  }

  #counties
  {
    padding-left: 46px;
  }

  #countyButton
  {
    position: relative;
    background-color: #143c5c;
    color: white;
    border: none;   
    height: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    right: -2px;
  }

  #countyButton:hover
  {
    /*color: gray; */
    border-radius: 8px;
  }

  #singleButton
  {
    position: relative;
    background-color: #143c5c;
    color: white;  
    border: none;   
    height: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    right: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #singleButton:hover
  {    
    border-radius: 8px;
  }

  .esri-attribution__powered-by {
    display: none;
  }

  #extent{
    border-radius: 0 !important;
    height: 30px;
    width: 33px;
    position: absolute;
    top: 85px;
    right: 15px;
    z-index: 50;
    padding: 5px 6px 5px 6px;
    border: 1px solid transparent;
    background-image: url("../Images/TexasIcon3.png") !important;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    box-shadow: 0.5px 0.5px 2px #888888;
}

#extent:hover{
  /*background-color: #C0C0C0;  light grey*/
  background-color: #f0f0f0;
  /*border-radius: 0 !important;*/
}
